# Node.js dependencies
node_modules/

# Environment files
.env

# Ignore all contents in these folders
network/*
readsi/*
swarmscan/*

# But don't ignore the folders themselves
!network/
!readsi/
!swarmscan/

# Don't ignore .gitkeep files in those folders
!network/.gitkeep
!readsi/.gitkeep
!swarmscan/.gitkeep
