# Node.js dependencies
node_modules/

# Environment files
.env

# Ignore all contents in these folders
network/*
readsi/*
swarmscan/*

# But don't ignore the folders themselves
!network/
!readsi/
!swarmscan/